@page
@model HuoltoWebApp.Pages.PvInfot.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Perävaunu Info</h1>

<p>
    <a class="btn btn-secondary" asp-page="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PvInfo[0].InfoTxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PvInfo[0].Pv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PvInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InfoTxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pv.PvId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.PvInfoId">Muokkaa</a> 
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.PvInfoId">Lisätiedot</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.PvInfoId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
