@page
@model HuoltoWebApp.Pages.Pvt.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pv</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pv.RekNro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pv.RekNro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pv.Katsastus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pv.Katsastus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pv.Adr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pv.Adr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pv.Välitarkastus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pv.Välitarkastus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pv.Määräaikaistarkastus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pv.Määräaikaistarkastus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pv.PvInfo.InfoTxt)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Pv.PvInfo != null)
            {
                @Html.DisplayFor(model => model.Pv.PvInfo.InfoTxt)
            }
            else
            {
                <text>Ei tietoa</text>
            }
        </dd>
    </dl>
</div>
<div>
    <form method="get" asp-page="./Edit" asp-route-id="@Model.Pv?.PvId" style="display:inline;">
        <button type="submit" class="btn btn-primary">Muokkaa</button>
    </form>

    <button type="button" class="btn btn-secondary" onclick="history.back()">Takaisin</button>
</div>
