@page
@model HuoltoWebApp.Pages.SäiliönMuistutus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SäiliöMuistutu[0].MuistutusPvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SäiliöMuistutu[0].MuistutustyyppiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SäiliöMuistutu[0].Säiliö)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SäiliöMuistutu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutusPvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutustyyppiNavigation.MuistutustyyppiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Säiliö.SäiliöId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SäiliöMuistutusId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SäiliöMuistutusId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SäiliöMuistutusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
