@page
@model HuoltoWebApp.Pages.PvMuistutukset.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-secondary" asp-page="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PvMuistutu[0].MuistutusPvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PvMuistutu[0].MuistutustyyppiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PvMuistutu[0].Pv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PvMuistutu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutusPvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutustyyppiNavigation.MuistutustyyppiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pv.PvId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.PvMuistutusId">Muokkaa</a> 
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.PvMuistutusId">Lisätiedot</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.PvMuistutusId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
