@page
@model HuoltoWebApp.Pages.AutonMuistutus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutoMuistutu[0].MuistutusPvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMuistutu[0].Auto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMuistutu[0].MuistutustyyppiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AutoMuistutu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutusPvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.AutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutustyyppiNavigation.MuistutustyyppiId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AutoMuistutusId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AutoMuistutusId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AutoMuistutusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
