@page
@model HuoltoWebApp.Pages.AutonMuistutus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Auton muistutustuspyyntö</h1>

<p>
    <a class="btn btn-secondary" asp-page="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutoMuistutu[0].MuistutusPvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMuistutu[0].Auto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMuistutu[0].MuistutustyyppiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AutoMuistutu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutusPvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.AutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuistutustyyppiNavigation.MuistutustyyppiId)
            </td>
            <td>

                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.AutoMuistutusId">Muokkaa</a>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.AutoMuistutusId">Lisätiedot</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.AutoMuistutusId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
