@page
@model HuoltoWebApp.Pages.Autot.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Poista auto</h1>

<h3>Oletko varma että haluat poistaa tämän auton?</h3>
<div>
    <h4>Auto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.RekNro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.RekNro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Katsastus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Katsastus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Adr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Adr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Piirturi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Piirturi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Alkolukko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Alkolukko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Nopeudenrajoitin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Nopeudenrajoitin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.AutoInfoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.AutoInfoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Säiliö)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Säiliö.SäiliöId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Auto.AutoId" />
        <input type="submit" value="Poista" class="btn btn-danger" /> |
        <a asp-page="./Index">Edellinen sivu</a>
    </form>
</div>
