@page
@model HuoltoWebApp.Pages.Autot.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Auton lisätiedot</h1>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.RekNro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.RekNro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Katsastus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Katsastus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Adr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Adr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Piirturi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Piirturi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Alkolukko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Alkolukko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Nopeudenrajoitin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Nopeudenrajoitin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.AutoInfo.InfoTxt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.AutoInfo.InfoTxt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Säiliö)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Säiliö.SäiliöNro)
        </dd>
    </dl>
</div>
<div>
    <form method="get" asp-page="./Edit" asp-route-id="@Model.Auto?.AutoId" style="display:inline;">
        <button type="submit" class="btn btn-primary">Muokkaa</button>
    </form>
    
    <button type="button" class="btn btn-secondary" onclick="history.back()">Takaisin</button>
</div>
