@page
@model HuoltoWebApp.Pages.AutonInfo.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AutoInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfo.InfoTxt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoInfo.InfoTxt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfo.Kuva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoInfo.Kuva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfo.Auto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoInfo.Auto.AutoId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AutoInfo.AutoInfoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
