@page "{id:int}/{handler?}"
@model HuoltoWebApp.Pages.AutonInfo.DetailsModel

@{
    ViewData["Title"] = "Lisätiedot";
}

<h1>Lisätiedot</h1>

<div>
    <h4>AutoInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfo.InfoTxt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoInfo.InfoTxt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfo.Auto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoInfo.Auto.AutoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfo.Kuvat)
        </dt>
        <dd class="col-sm-10">
            @foreach (var kuva in Model.AutoInfo.Kuvat)
            {
                if (kuva.KuvaID != 0)
                {
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image-url="@Url.Page("/GetImage", new { id = kuva.KuvaID })">@kuva.KuvaNimi</a>
                }
            }
        </dd>
    </dl>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img id="modalImage" src="" alt="Kuva autosta" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.AutoInfo?.AutoInfoId">Muokkaa</a> |
    <a asp-page="./Index">Edellinen sivu</a>
</div>
