@page
@model HuoltoWebApp.Pages.AutonInfo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-secondary" asp-page="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutoInfo[0].InfoTxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInfo[0].Kuvat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoInfo[0].Auto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AutoInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InfoTxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kuvat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.AutoId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.AutoInfoId">Muokkaa</a> 
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.AutoInfoId">Lisätiedot</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.AutoInfoId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
