@page
@model HuoltoWebApp.Pages.AutonHuoltopyyntö.DeleteModel

@{
    ViewData["Title"] = "Poista";
}

<h1>Poista huoltopyyntö</h1>

<h3>Oletko varma että haluat poistaa auton huoltopyynnön?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuoltopyyntö.HuollonKuvaus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuoltopyyntö.HuollonKuvaus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuoltopyyntö.Kuva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuoltopyyntö.Kuva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuoltopyyntö.Auto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuoltopyyntö.Auto.AutoId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AutoHuoltopyyntö.HuoltoId" />
        <input type="submit" value="Poista" class="btn btn-danger" /> |
        <a asp-page="./Index">Edellinen sivu</a>
    </form>
</div>
