@page
@model HuoltoWebApp.Pages.AutonHuoltopyyntö.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Auton huoltopyynnöt</h1>

<p>
    <a class="btn btn-secondary" asp-page="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutoHuoltopyyntö[0].HuollonKuvaus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoHuoltopyyntö[0].Kuva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoHuoltopyyntö[0].Auto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AutoHuoltopyyntö) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HuollonKuvaus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kuva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.AutoId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.HuoltoId">Muokkaa</a> 
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.HuoltoId">Lisätiedot</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.HuoltoId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
