@page
@model HuoltoWebApp.Pages.Säiliöt.DetailsModel

@{
    ViewData["Title"] = "Lisätietoja";
}

<h1>Lisätietoja</h1>

<div>
    <h4>Säiliö</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Säiliö.SäiliöNro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Säiliö.SäiliöNro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Säiliö.Vakaus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Säiliö.Vakaus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Säiliö.Välitarkastus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Säiliö.Välitarkastus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Säiliö.Määräaikaistarkastus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Säiliö.Määräaikaistarkastus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Säiliö.SäiliöInfo.InfoTxt)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Säiliö.SäiliöInfo != null)
            {
                @Html.DisplayFor(model => model.Säiliö.SäiliöInfo.InfoTxt)
            }
            else
            {
                <text>Ei tietoa</text>
            }
        </dd>
    </dl>
</div>
<div>
    <form method="get" asp-page="./Edit" asp-route-id="@Model.Säiliö?.SäiliöId" style="display:inline;">
        <button type="submit" class="btn btn-primary">Muokkaa</button>
    </form>

    <button type="button" class="btn btn-secondary" onclick="history.back()">Takaisin</button>
</div>
