@page
@model HuoltoWebApp.Pages.Säiliöt.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].SäiliöNro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].Vakaus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].Välitarkastus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].Määräaikaistarkastus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].SäiliöInfoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Säiliö) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SäiliöNro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vakaus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Välitarkastus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Määräaikaistarkastus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SäiliöInfoId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SäiliöId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SäiliöId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SäiliöId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
