@page
@model HuoltoWebApp.Pages.Säiliöt.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Säiliöt</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Luo uusi</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].SäiliöNro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].Vakaus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].Välitarkastus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Säiliö[0].Määräaikaistarkastus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Säiliö) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SäiliöNro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vakaus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Välitarkastus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Määräaikaistarkastus)
            </td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.SäiliöId">Muokkaa</a>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.SäiliöId">Tiedot</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.SäiliöId">Poista</a>
                </td>

        </tr>
}
    </tbody>
</table>
