@page
@model HuoltoWebApp.Pages.AutonHuollot.DetailsModel

@{
    ViewData["Title"] = "Huollon lisätiedot";
}

<h1>Huollon lisätiedot</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuollot.HuoltoPvm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuollot.HuoltoPvm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuollot.HuoltopaikkaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuollot.HuoltopaikkaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuollot.HuollonKuvaus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuollot.HuollonKuvaus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuollot.Kuva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuollot.Kuva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHuollot.Auto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoHuollot.Auto.AutoId)
        </dd>
    </dl>
    @if (Model.Kuvat.Any())
    {
        <h4>Liitetyt kuvat</h4>
        <div class="row">
            @foreach (var kuva in Model.Kuvat)
            {
                var base64 = Convert.ToBase64String(kuva.KuvaData);
                var imageSrc = $"data:image/jpeg;base64,{base64}";
                <div class="col-md-4">
                    <div class="card mb-3">
                        <img src="@imageSrc" class="card-img-top" alt="Kuva" />
                        <div class="card-body">
                            <p class="card-text">@kuva.KuvaNimi</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p><em>Ei liitettyjä kuvia.</em></p>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AutoHuollot?.HuollonId">Edit</a> |
    <button type="button" class="btn btn-secondary" onclick="history.back()">Takaisin</button>
</div>
