@page
@model HuoltoWebApp.Pages.AutonHuollot.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-secondary" asp-page="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutoHuollot[0].HuoltoPvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoHuollot[0].HuoltopaikkaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoHuollot[0].HuollonKuvaus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoHuollot[0].Auto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AutoHuollot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HuoltoPvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuoltopaikkaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuollonKuvaus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.AutoId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.HuollonId">Muokkaa</a> 
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.HuollonId">Lisätiedot</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.HuollonId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
